.forgotPasswordpage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--wbl-page-bg);
}

.forgotPasswordContainer {
  display: flex;
  flex-direction: column;
  width: 385px;
}

.InputLabel {
  margin-bottom: 10px;
}

.contentText {
  color: var(--wbl-font-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  margin-top: 20px;
}

.navLogoBox {
  position: absolute;
  background-color: var(--wbl-page-bg);
  height: 60px;
  top: 20px;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navLogo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: left;
}

.navLogoContainer {
  height: 100%;
  width: auto;
  position: relative;
}

.error {
  color: var(--wbl-error);
}

/* .email {
  color: var(--wbl-outline-blue2);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
} */

.eyeIconBtn {
  width: 35px;
  height: 35px;
}

.ol {
  list-style-type: inherit;
  font-size: 14px;
  color: var(--wbl-font-primary);
  margin-top: 0px;
  margin-left: -10px;
  font-weight: 400;
  /* margin-bottom: 0px; */
}

@media screen and (max-width: 600px) {
  .forgotPasswordpage {
      min-height: 100vh;
  }

  .forgotPasswordContainer {
    width: 90vw;
    margin-top: -20px;
  }
}