.content {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.ol {
  list-style-type: inherit;
  color: var(--wbl-font-primary);
  margin-top: 0px;
  margin-left: -10px;
  font-weight: 400;
}

.ol li {
  margin-bottom: 20px;
}

.aboutUsPage {
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: var(--wbl-page-bg);
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: 110px;
}

@media screen and (min-width: 320px) {
  .aboutUsContainer {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 375px) {
  .aboutUsContainer {
    padding-bottom: 100px;
  }
}


/* small-screen */
@media screen and (min-width: 425px) {
  .aboutUsContainer {
    padding-bottom: 100px;
  }
}

/* medium-screen */
@media screen and (min-width: 640px) {
  .aboutUsContainer {
    padding-bottom: 100px;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .aboutUsContainer {
  }
}

/* small-laptop */
@media screen and (min-width: 1024px) {
  .aboutUsContainer {
    width: 798px;
  }
}

/* max-container */
@media screen and (max-width: 600px) {
  .aboutUsContainer {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1280px) {
  /* .aboutUsContainer {
  } */
}