.pageContainer {
  width: 90vw;
  /* border: 1px solid yellow; */
}

.queryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.itemsContainer {
  margin-top: 20px;
  /* border: 1px solid yellowgreen */
}

.clip {
  width: 100%;
  border-radius: 7px;
  background: var(--wbl-surface-bg);
  height: 76px;
  margin-bottom: 10px;
  color: var(--wbl-font-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
}

.clipDetailsContainer {
  margin-left: 5px;
}

.clipDetails {
  display: flex;
  gap: 5px;
}

.utilityContainer {
  margin-right: 15px;
  display: flex;
  gap: 15px;
}

.hoveredClip {
  background: #2E2633;
  color: var(--wbl-font-primary);
}

.active {
  color: var(--wbl-font-primary);
}

.input {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .queryContainer{
    flex-direction: row;
    justify-content: end;
  }
}

@media screen and (min-width: 768px) {
  .input {
    width: 245px;
  }
}

@media screen and (min-width: 1367px) {
  .pageContainer {
    width: 100%;
  }
}