.btnPrimaryAction {
    height: 45px;
    font-size: 16px;
    color: var(--wbl-font-primary);
    border-radius: 25px;
    border: 1px solid #893794;
    background: rgba(251, 192, 19, 0.20);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.btnPrimaryAction:hover {
    border: 1px solid var(--wbl-font-yellow);
    background: linear-gradient(180deg, #F16128 0%, #893794 100%);
}

.icon {
    height: 27px;
}